###########
# Node
###########

**/node_modules
**/package-lock.json

###########
# ENV
###########

**/.env

###########
# Build
###########

**/build
**/dist
**/.next

###########
# Logs
###########

**/logs


**/.cache

**/.turbo

