@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
}

.dont-break-out {
  white-space: pre-line;
  overflow-wrap: break-word;
}
